.textContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    max-width: 580px;
}

.hero p {
    width: 100%;
    max-width: 475px;
}

.textContainer button {
    margin-top: 24px;

}