.navContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    height: 80px;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.nav-link-active {
    color: var(--primary-text-color)
}

.nav-actions {
    display: flex;
    gap: 24px;
}
